@import "tailwindcss";

/* Base style */
html, body {
  background: #fafafa;
  color: #111;
  font-family: sans-serif;
  transition: background-color .2s ease, color .2s ease;
}

/* Form elements */
input,
select,
textarea {
  width: 100%;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid #dcdcdc;
  background: white;
  color: black;
  outline: none;
  transition: all .15s ease;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #4ade80;
  box-shadow: 0 0 0 2px rgba(74, 222, 128, .25);
}

input::placeholder {
  color: #777;
}